doctype html
html
	head
		title App Hooks
		link(rel="stylesheet", href="/css/app-hooks.css")

	body
		section.modal.access
			form#access(action="/user/login?html=true", method="post")
				.close X
				h1 Access
				-if(message)
					p.error=message

				input(name="email", type="email", placeholder="Email address", required)
				input(name="password", type="password", placeholder="Your password", required)
				button Register or Login

		header
			a.button(href="/web/docs", target="_blank")
				button.docs Documentation

			button.access Login or Register
			a.button(href="/")
				.brand
			.title App Hooks
			.message Send notifications to all registered devices
				br
				| with one request
		.container
			.how-it-works
				h1 How it works
				.content
					.part.part-1
						.pic
						span Create your namespace to receive your API Secret.
					.part.part-2
						.pic
						span Send a POST request with title, message, namespace and API Secret.
					.part.part-3
						.pic
						span Receive your notification on your mobile device.
			hr
			.available-devices
				h1 Available devices
				p We currently only support <a href="#">Android</a>
				p It'll be available soon for iOS, Windows Phone, Firefox OS, OSx, Windows, Facebook and any other platform you could imagine.
	
		footer
			p Made with &#9829; by <a href="https://grupotrilha.com.br" target="_blank">Trilha</a>
	
	script(src="/js/jquery-1.11.1.min.js")
	script(src="/js/page-index.js")

	-if(message)
		script $(document).ready(function() { ui.toggleAccess(); });
