@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

html, body {
	margin: 0;
	font-family: 'Raleway', sans-serif !important;
}

pre {
	overflow-x: auto;
	max-width: 700px;
}

p.code {
	margin-left: 15px;
	font-family: monospace;
}

p.center {
	text-align: center;
}

p.answer {
	border-left: 5px solid #eee;
	padding-left: 10px;
	color: #888;
}

p.message {
	background-color: rgba(241, 196, 15, 0.12);
	color: #CFAA15;
	border: 1px solid #CFAA15;
	padding: 15px;
	border-radius: 5px;
}

a {
	color: #2F81B7;
	background-color: #fff;
	padding: 0 5px;

	text-decoration: none;

	-webkit-transition: background-color .25s, color .25s;
	   -moz-transition: background-color .25s, color .25s;
			transition: background-color .25s, color .25s;
}

a:hover {
	color: #f5f5f5;
	background-color: #2F81B7;

	-webkit-transition: background-color .25s, color .25s;
	   -moz-transition: background-color .25s, color .25s;
			transition: background-color .25s, color .25s;
}

a.button {
	padding: 0;
}

h2 {
	font-weight: 300;
}

hr {
	border: 0;
	height: 1px;
	background-color: #eee;
}

section.modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	z-index: 2;
}

section.modal .error {
	color: #e74c3c;
}

section.modal .close {
	font-family: 'Raleway', sans-serif !important;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 15px;
	position: absolute;
	right: 20px;
	top: 20px;
	border: 1px solid rgba(0, 0, 0, .4);
	color: rgba(0, 0, 0, .4);
	cursor: pointer;

	background-color: #fff;

	-webkit-transition: background-color .25s;
	   -moz-transition: background-color .25s;
			transition: background-color .25s;
}

section.modal .close:hover {
	background-color: #eee;

	-webkit-transition: background-color .25s;
	   -moz-transition: background-color .25s;
			transition: background-color .25s;
}

section.modal form {
	background-color: #fff;
	padding: 50px;
	border-radius: 5px;
	display: table;
	margin: auto;
	min-width: 300px;
	position: relative;
	top: 25%;
}

input,
button {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, .2);
	font-family: 'Raleway', sans-serif !important;
	display: block;
	margin: 10px 0;
	font-size: 11pt;
	width: 100%;

	box-sizing: border-box;
}

input[disabled] {
	color: #aaa;
	background-color: transparent;
}

button {
	background-color: #2980b9;
	color: #fff;
	cursor: pointer;

	-webkit-transition: background-color .25s, color .25s, border-color .25s;
	   -moz-transition: background-color .25s, color .25s, border-color .25s;
			transition: background-color .25s, color .25s, border-color .25s;
}

button:hover {
	background-color: #3498db;

	-webkit-transition: background-color .25s, color .25s, border-color .25s;
	   -moz-transition: background-color .25s, color .25s, border-color .25s;
			transition: background-color .25s, color .25s, border-color .25s;
}

button.success {
	background-color: rgba(255, 255, 255, .1);
	color: #27ae60;
	border-color: #27ae60;
	cursor: auto;

	-webkit-transition: background-color .25s, color .75s, border-color .75s;
	   -moz-transition: background-color .25s, color .75s, border-color .75s;
			transition: background-color .25s, color .75s, border-color .75s;
}

input.invalid {
	outline-color: #e74c3c;
	border-color: #e74c3c;
	color: #e74c3c;

	-webkit-transition: color .25s, border-color .25s, outline-color .25s;
	   -moz-transition: color .25s, border-color .25s, outline-color .25s;
			transition: color .25s, border-color .25s, outline-color .25s;
}

input.valid {
	outline-color: #2ecc71;
	border-color: #2ecc71;
	color: #2ecc71;

	-webkit-transition: color .25s, border-color .25s, outline-color .25s;
	   -moz-transition: color .25s, border-color .25s, outline-color .25s;
			transition: color .25s, border-color .25s, outline-color .25s;
}

header {
	width: 100%;
	height: 450px;
	background-color: #222;
	position: relative;
	overflow: auto;
	background-image: url('../img/header-background.jpg');
	background-size: cover;
}

header.compact {
	height: 250px;
}

header button {
	position: absolute;
	width: auto;
	background-color: rgba(0, 0, 0, .4);
	border: none;
	color: #fff;
	cursor: pointer;

	-webkit-transition: background-color .25s;
	   -moz-transition: background-color .25s;
			transition: background-color .25s;
}

header button.access {
	right: 150px;
	top: 50px;
}

header button.docs {
	left: 150px;
	top: 50px;
}

header button:hover {
	background-color: rgba(0, 0, 0, .5);

	-webkit-transition: background-color .25s;
	   -moz-transition: background-color .25s;
			transition: background-color .25s;
}

header .brand {
	width: 150px;
	height: 150px;
	background-image: url('../img/logo.png');
	background-size: contain;
	display: table;
	margin: 0 auto;
	/*background-color: rgba(240, 240, 240, .9);*/
	border-radius: 150px;
	position: relative;
	margin-top: 100px;

	opacity: .75;

	-webkit-transition: opacity .75s;
	   -moz-transition: opacity .75s;
			transition: opacity .75s;

	-webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, .3);
	   -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, .3);
			box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, .3);
}

header .brand:hover {
	opacity: 1;

	-webkit-transition: opacity .75s;
	   -moz-transition: opacity .75s;
			transition: opacity .75s;
}

header.compact .brand {
	margin-top: 50px;
}

header .title {
	display: table;
	margin: 0 auto;
	position: relative;
	margin-top: 20px;
	color: #ddd;
	font-size: 24pt;
	font-weight: 300;
}

header .message {
	display: table;
	margin: 0 auto;
	position: relative;
	margin-top: 10px;
	color: #aaa;
	font-size: 16pt;
	font-weight: 300;
	text-align: center;
}

.container {
	width: 700px;
	display: table;
	margin: 20px auto;
}

.container h1 {
	text-align: center;
	font-weight: 300;
	color: #222;
}

.container .how-it-works .content {
	padding-top: 20px;
}

.container .how-it-works .content .part {
	width: 33%;
	display: inline-table;
}

.container .how-it-works .content .part span {
	box-sizing: border-box;
	padding: 20px;
	display: table;
	margin: 0 auto;
	text-align: center;
}

.container .how-it-works .content .pic {
	width: 120px;
	height: 120px;
	border-radius: 120px;
	display: table;
	margin: 0 auto;
	background-size: auto 100%;

	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .1);
	   -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .1);
			box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .1);
}

.container .how-it-works .content .part-1 .pic {
	background-image: url('../img/how-to-1.png');
}

.container .how-it-works .content .part-2 .pic {
	background-image: url('../img/how-to-2.png');
}

.container .how-it-works .content .part-3 .pic {
	background-image: url('../img/how-to-3.png');
}

.container .board {
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 25px;
}

.container .dashboard table.devices {
	width: 100%;
}

.container .dashboard table.devices thead td {
	padding: 5px;
	background-color: #f5f5f5;
}

.container .dashboard table.devices tbody td {
	padding: 5px;
}

.container .dashboard table.devices td {
	border: 1px solid #f5f5f5;
}

footer {
	width: 100%;
	padding: 25px 0;
	background-color: #2F81B7;
	margin-top: 50px;
}

footer p {
	color: #f5f5f5;
	text-align: center;
}

footer a {
	color: #f5f5f5;
	background-color: #2F81B7;
	padding: 5px;

	text-decoration: none;

	-webkit-transition: background-color .25s, color .25s;
	   -moz-transition: background-color .25s, color .25s;
			transition: background-color .25s, color .25s;
}

footer a:hover {
	color: #2F81B7;
	background-color: #f5f5f5;

	-webkit-transition: background-color .25s, color .25s;
	   -moz-transition: background-color .25s, color .25s;
			transition: background-color .25s, color .25s;
}
